{% extends 'layout.html' %}

{% block main %}

<div class="hero">
    <h1 class="hero-title">Fast-track your Progress</h1>
    <h2 class="hero-description">Test your Skills and improve your understanding!</h2>
</div>

<div class="features card-deck">
    <div class="card text-white bg-info mb-3" >
        <div class="card-header">Build Your Own!</div>
        <div class="card-body">
          <p class="card-text">Create your own quiz and share it with your friends</p>
        </div>
    </div>
    <div class="card text-white bg-info mb-3" >
        <div class="card-header">Challenge yourself!</div>
        <div class="card-body">
          <p class="card-text">Take quizes made by other people and improve your knowledge!</p>
        </div>
    </div>
    <div class="card text-white bg-info mb-3" >
        <div class="card-header">Ask Questions!</div>
        <div class="card-body">
          <p class="card-text">Are you stuck? Post a question and wait for others to help!</p>
        </div>
    </div>
    <div class="card text-white bg-info mb-3" >
        <div class="card-header">Track your progress!</div>
        <div class="card-body">
          <p class="card-text">Earn badges and rewards when you complete a quiz!</p>
        </div>
    </div>
</div>

{% endblock %}