{% extends 'layout.html' %}

{% block main %}

<div class="hero">
    <h1 class="big-brand">DeQuest</h1>
    <h2 class="hero-description">Test your Skills and Climb the Leaderboards</h2>
</div>

<div class="my-container">
  <div class="features card-deck">
    <div class="card text-white bg-info mb-3" >
        <div class="card-header">Build Your Own!</div>
        <div class="card-body">
          <p class="card-text">Create your own quiz and share it with your friends</p>
        </div>
    </div>
    <div class="card text-white bg-info mb-3" >
        <div class="card-header">Challenge yourself!</div>
        <div class="card-body">
          <p class="card-text">Take quizes made by other people and improve your knowledge!</p>
        </div>
    </div>
    <div class="card text-white bg-info mb-3" >
        <div class="card-header">Check The Leaders!</div>
        <div class="card-body">
          <p class="card-text">Check who created and has taken the most quizzes!</p>
        </div>
    </div>
    
</div>
</div>

{% endblock %}