{% extends 'layout.html' %}


{% block main %}
    

    <div class="my-container">
        <hr>
        <h1 class="form-title">{{ quiz[1] }}</h1>
        <hr>
    </div>
    
    <div class="my-container">
        <div class="my-container">
            <form name="checkQuiz" action="/checkQuiz" id="checkQuiz" method="post">
                <div class="form-group">
                    <select name="quizId" class="form-control" id="quizId" style="display:none">
                        <option>{{ quiz[0] }}</option>
                    </select>
                </div>
                {% for row in q_list %}
                    <div class="form-group">
                        <p class="question">Question: {{ row['question'] }}</p>
                        <p class="answers">a: {{ row['a0'] }}</p>
                        <p class="answers">b: {{ row['a1'] }}</p>
                        <p class="answers">c: {{ row['a2'] }}</p>
                        <p class="answers">d: {{ row['a3'] }}</p>
                        <select name="answer" id="answer" class="form-control" id="exampleFormControlSelect1">
                            <option value="Select Answer">Select Answer</option>
                            <option>a</option>
                            <option>b</option>
                            <option>c</option>
                            <option>d</option>
                        </select>
                        <hr class="hr-form">
                    </div>
                {% endfor %}
                <button id="submitQuestion" type="submit" class="btn btn-primary btn-block"
                    value="submit">Submit</button>
            </form>
        </div>
        
    </div>

{% endblock %}